// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

//GS media rules: https://www.gshg.org/content/dam/girlscouts-gshg/documents/GSUSA%20Brand%20Cheat%20Sheet.pdf
$daisiesColor: #0099FF;
$browniesColor: #663300;
$juniorsColor: #993399;
$cadettesColor: #CC0000;
$seniorsColor: #FF6633;
$ambassadorsColor: #FF9933;
$volunteersColor: #CCCCCC;

$gsGreen: #009966;

